<app-pinterest-top-bar></app-pinterest-top-bar>
<div class="signin">
    <h2 class="signin-h2">SIGN-IN</h2>
    <h3 class="signin-h3">Welcome to Pinterest</h3>
    <p class="signin-p" *ngIf="error === true">Invalid Credentials</p>
    <div class="signin__form">
        <div> 
            <div class="form-group">
                <label for="signin__form-label" for="signin-username">Username:</label>
                <input type="text" id="signin-username" name="signin-username" required [(ngModel)]="user.username">
            </div>
            <div class="form-group">
                <label for="signin__form-label">Password:</label>
                <input type="password" id="signin-password" name="signin-password" required [(ngModel)]="user.password">
            </div>
            <button type="submit" (click)="SignIn()">Sign In</button>
            <button type="submit" (click)="SignUp()">Sign Up</button>
        </div>
    </div>
</div>
