<app-pinterest-top-bar></app-pinterest-top-bar>
<div class="create-tile">
    <h2 class="create-tile-h2">CREATE TILE</h2>
    <h3 class="create-tile-h3">Add the tile details</h3>
    <div class="create-tile__form">
        <div class="form-group">
            <label class="create-tile__form-label" for="tile-title">Title:</label>
            <input type="text" id="tile-title" name="tile-title" required [(ngModel)]="tile.label" />
        </div>
        <div class="form-group">
            <label class="create-tile__form-label" for="tile-img">Image URL:</label>
            <input type="text" id="tile-img" name="tile-img" required [(ngModel)]="tile.imgUrl">
        </div>
        <div class="create-tile__buttons">
            <button class="create-tile__buttons-submit" type="submit"(click)="CreateTile()">Create</button>
            <button class="create-tile__buttons-reset" (click)="ResetTile()">Reset</button>
        </div>
    </div>