<app-pinterest-top-bar></app-pinterest-top-bar>
<div class="main-page">
    <ng-container *ngFor="let tile of tileList">
        <div class="main-page__pinterest-tile">
            <div class="main-page__pinterest-tile__image">
                <img src={{tile.imgUrl}} alt="image">
            </div>
            <h3 class="main-page__pinterest-tile__title">
                {{tile.label}}
                <span class="fa" [ngClass]="{'fas fa-heart': isFilled, 'far fa-heart-o': !isFilled}" (click)="toggleHeart()"></span>
            </h3>
        </div>
    </ng-container>
</div>

