<app-pinterest-top-bar></app-pinterest-top-bar>
<div class="signup-container">
    <h2 class="signup-h2">SIGN UP</h2>
    <h3 class="signup-h3">Welcome to Pinterest</h3>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()"> 
        <div class="error" *ngIf="!signUpForm.valid && signUpForm.touched">All fields are required</div>
        <div>
          <label class="signup-container__form-label">Enter Name: </label>
          <input type="text" name="username" formControlName="username"/>
          <div class="validation-error" *ngIf="name.hasError('required') && name.touched">Name is required</div>
        </div>
        <div>
          <label class="signup-container__form-label">Enter email: </label>
          <input type="email" name="email" formControlName="email"/>
          <div class="validation-error" *ngIf="signUpForm.controls['email'].hasError('required') &&
            signUpForm.controls['email'].touched">Email is required</div>
          <div class="validation-error" *ngIf="signUpForm.controls['email'].hasError('invalidEmail')">Email is not valid</div>
        </div>
        <div>
          <label class="signup-container__form-label">Enter password: </label>
          <input type="password" name="password" formControlName="password"/>
          <div class="validation-error" *ngIf="signUpForm.controls['password'].hasError('required') &&
            signUpForm.controls['password'].touched">Password is required</div>
        </div>
        <div>
          <label class="signup-container__form-label">Confirm Password: </label>
          <input type="password" name="confirmpassword" formControlName="confirmpassword"/>
          <div class="validation-error" *ngIf="signUpForm.controls['confirmpassword'].hasError('required') &&
            signUpForm.controls['confirmpassword'].touched">Confirm Password is required</div>
          <div class="validation-error" *ngIf="signUpForm.hasError('passwordNotMatched') &&
            signUpForm.controls['confirmpassword'].touched">Passwords do not match</div>
        </div>
        <div>
          <label class="signup-container__form-label">I agree to terms and Conditions</label>
          <input type="checkbox" formControlName="termsAgreement"/>
        </div>
        <div class="signup-container__buttons">
          <button type="submit" class="signup-container__buttons-signup" [disabled]="!isTermsAgreed()">Submit</button>
          <button type="reset" class="signup-container__buttons-reset" (click)="onReset()">Reset</button>
        </div>
      </form>      
<div>