<app-pinterest-top-bar></app-pinterest-top-bar>
<h1>Favourites</h1>
<div class="main-page">
    <ng-container *ngFor="let tile of tileList">
        <div *ngIf="tile.isFavourite == true">
                <div class="main-page__pinterest-tile">
                    <div class="main-page__pinterest-tile__image">
                        <img src={{tile.imgUrl}} alt="image">
                    </div>
                    <h3 class="main-page__pinterest-tile__title">
                        {{tile.label}}
                    </h3>
                </div>
            </div>
        </ng-container>
</div>